.footer {
    width: 90.1%;
    background-color: rgba(0, 0, 0, 0.9);
    margin: auto;
    height: 190px;
    margin-top: 30px;
}

.top {
    text-align: center;
    padding-top: 50px;
}

.book {
    transition-duration: 0.5s;
    color: skyblue;
}

.book:hover {
    color: skyblue;
}

.subConLeft,
.container,
.subConCentre,
.subConRight {
    display: flex;
    justify-content: space-between;
    color: rgb(151, 151, 151);
}

.container {
    padding-top: 30px;
    width: 90%;
    margin: auto;
}

h2 {
    width: 90px;
    font: 1em sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
}

.btn_advert {
    float: right;
    border: none;
}