.home_left {
    height: 100vh;
    display: block;
    width: 67%;
    margin-left: 65px;
    margin-top: 40px;
    overflow: auto;
}

.home {
    display: flex;
    margin-top: 150px;
    width: 88.8%;

}

/* .home_left .btn_left,
.home_left .btn_right {
    display: none;
} */

h4 {
    padding: 10px;
    background-color: rgb(231, 231, 231);
    font-weight: lighter;
    font-family: sans-serif;
    color: rgb(85, 85, 85);
}

.search {
    width: 100%;
    border: 1px solid gray;
    height: 100vh;
    margin-top: 60px;
    margin-left: 20px;
    border-radius: 12px;
}

.homeUl {
    display: block;
    margin-left: 0;
    padding-left: 0;
}



.homeLi {
    list-style: none;
    font-size: 0.95em;
    font-weight: lighter;
    padding: 5px 0;
    font-family: 'Courier New', Courier, monospace;
    text-transform: capitalize;
    cursor: pointer;
}

input {
    width: 185px;
    height: 30px;
    border: 1px solid gray;
    margin: 20px 5px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    outline: none;
}

.btn_home {
    height: 35px;
    background-color: rgb(64, 198, 243);
    border: none;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    margin-left: -6px;
}

.advert {
    height: 500px;
    width: 90%;
    margin-top: 20px;
    margin-left: 15px;
    background-image: url(../images/advert1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: advert;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.no_advert {
    height: 480px;
    width: 90%;
    margin-top: 20px;
    margin-left: 15px;
    background-color: gray;
}

@keyframes advert {
    0% {
        background-image: url(../images/advert1.jpeg);
    }

    25% {
        background-image: url(../images/advert3.jpeg);
    }

    50% {
        background-image: url(../images/advert4.jpeg);
    }

    100% {
        background-image: url(../images/advert1.jpeg);
    }
}