.myBlog {
    width: 60%;
    margin: auto;
    margin-top: 200px;
    margin-left: 65px;
}

.post_link {
    text-decoration: none;
    border: 1px solid rgb(64, 198, 243);
    margin-left: 20px;
    padding: 5px;
    color: white;
    background-color: rgb(64, 198, 243);
    border-radius: 5px;
    text-transform: capitalize;
}